#container{
    width: 1200px;
    /* border: 2px solid grey; */
    margin: 0 auto;
}

h1 a{ /* you specify "a" so that you can directly change the link text specifically and not every link text */

    font-size: 50px;
    font-weight: 100;
    color: #992af3;
    text-decoration: none;
}

#header{
    height: 100px;
    padding: 10px 0px; /* First value is for top/bottom; second value is for left/right. Compare with padding values under #searchbox styling below */
}

#brand{
    float: left;
}

#searchbox{
    float: right;
    background: linear-gradient(#42c73d, #83df7f);
    /* You use "background" instead of "background-color" so that you can use the linear-gradient attribute */

    width: 400px;
    height: 50px;
    padding: 20px 20px 0px 20px; /* Values go from top, right, bottom, left */
    margin-top: 20px;
}

.search_text_box{
    float: left;
    width: 200px;
    padding: 5px;
    font-size: 15px;
    color: #ff8a00;
    background: white url(graphics/search_logo.png) right center no-repeat; /* Multiple attributes in one line!!! */
}   

.search_button{
    float: right;
    padding: 5px;
    font-weight: bold;
    color: white;
    background: #992af3;
}

.clear{
    clear: both;
    /* Clear property is used to specify whether an element should be next to floating elements or it should be below them (clear). We can apply the clear property to both floating and non-floating elements. This property has four values: none, left, right, and both. "None" is the default value. It is good practice to use this property after floating elements */
}

#menu{
    height: 70px;
    background: linear-gradient(#ff8a00, #ffd460);
    padding: 6px 0px;
}

#menu ul li{ /*This is how you target elements sepecifically without targetting ALL of the same elements */

    list-style: none; /* This is to get rid of bullet points */
    float: left;
    padding: 0px 30px;
    height: 30px;
    border-right: 1px solid #992af3; /* This is to add the dividing line between each menu link. Notice that you are also specifying the border line style and color!!! */
}

#menu ul li:last-child{ /* This is to remove the right border from the last menu link. Notice that you must NOT put a space after the colon between "li" and "last-child" */

    border-right: none;
}

#menu ul li a{ /* Here you are going one step further and targetting the links in the lists themselves */

    text-decoration: none; /* This is to remove the underlines from the links */
    text-transform: uppercase;
    font-size: 17px; /* By default the text size is 16px in Chrome */
    line-height: 30px; /* This is to center the menu links to the center lines (right-border lines) */
    color: #5a0071;

    transition: font-size 0.3s ease;
    /* This is to control the speed of font-size transition from 17px to 20px whenever you hover the menu links (except the home link; see note below). The 0.3s is the transition speed; the "ease" attribute means that the transition will still take place within the 0.3s inidicated but the transition will start slow and then gradually speed up at the end. The other transition attribute is "linear" which means the transition speed is constant whereas "ease" is acceleration */

    /* The following lines are for the different web-browsers */
    -webkit-transition: font-size 0.3s ease; /* safari */
    -moz-transition: font-size 0.3s ease; /* mozilla firefox */
    -o-transition: font-size 0.3s ease; /* opera */
    -ms-transition: font-size 0.3s ease; /* microsoft explorer/edge? */
}

#menu ul li a:hover, #menu ul li a.active_link{
    /* The second selector is to select the links in class "active_link", in this case the home link (see index.html). It will have the same hover stylization as the other links but it will be static, meaning it will always have the following stylization */

    font-size: 20px;
    font-weight: bold;
    color: #992af3;
}

#introduction{
    background: linear-gradient(#42c73d, #83df7f);
    padding: 30px;
    margin: 15px 0px;
}

#introduction h3{
    font-size: 45px;
    font-weight: normal;
    color: #095100;
}

#introduction p{
    font-size: 25px;
    color: #095100;
    text-align: justify;
}